.counter_wrapper {
  position: relative;
  padding: 1rem;
}
.span_counter {
  background-color: rgb(85, 85, 238);
  padding: 0.5rem;
  position: absolute;
  top: 1rem;
  right: 1rem;
  border-radius: 50%;
}
